.board {
  margin: 77px auto;
  width: 600px;
  height: 600px;
  background-color: tan;
  border-style: solid;
  border-width: 3px;
}

.stones {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  /* border-radius: 50%; */
  height: 40px;
  width: 40px;
}

.stones::before {
  content: "";
  top: 0px;
  height: 40px;
  width: 2px;
  right: 19px;
  position: absolute;
  background-color: black;
}

.stones::after {
  content: "";
  left: 0px;
  width: 40px;
  height: 2px;
  top: 19px;
  position: absolute;
  background-color: black;
}

/* .stones {
} */

body {
  background-color: gray;
}
