.body {
  margin: 0;
  padding: 0;
}

.board {
  margin: 18px 0 0;
  width: 614px;
  height: 614px;
  background-color: #ffa40b;
  border-style: solid;
  border-radius: 28px;
  border-width: 7px;
}

.stones {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
}

.whiteHover {
  background-color: #ededed;
  border-radius: 50%;
}

.blackHover {
  background-color: gray;
  border-radius: 50%;
}

.stones::before {
  content: "";
  top: 0px;
  height: 40px;
  width: 2px;
  right: 19px;
  position: absolute;
  background-color: black;
}

.stones::after {
  content: "";
  left: 0px;
  width: 40px;
  height: 2px;
  top: 19px;
  position: absolute;
  background-color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .board {
    height: 320px;
    width: 320px;
  }

  .stones {
    top: -5px;
    height: 20.3px;
    width: 20.3px;
  }

  .stones::before {
    content: "";
    top: -5px;
    height: 20.3px;
    width: 1px;
    right: 5px;
    position: absolute;
    background-color: black;
  }
  .stones::after {
    content: "";
    left: 5px;
    width: 20.3px;
    height: 1px;
    top: 5px;
    position: absolute;
    background-color: black;
  }
}
