body {
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 320px) and (max-width: 480px) {
  .chatBox {
    display: none;
  }

  .containerLeft{
    display : flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  /* 
  .boardBox > * {
    width: 300px;
    height: 300px;
  } */
}
